@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";
@import "./header/header.style.css";

@layer components {
    .app-container {
        @apply bg-[#121214] h-full w-full flex flex-col rounded-lg overflow-hidden;
    }

    .content {
        @apply flex h-full justify-center items-center;
    }

    .timer-container {
        @apply flex flex-row items-center gap-30 xl:gap-20 xl:text-[760px] text-[400px]
    }

    .black-line {
        @apply absolute bg-[#121214] w-full h-[5px];
    }
}


@font-face {
  font-family: Helvetica;
  src: url("assets/font/helvetica.ttf") format("truetype");
}

@layer base {

    #root {
        font-family: "Helvetica", sans-serif;
        @apply bg-[#121214] h-screen w-screen;
    }
}


